
   <label class="control control--checkbox">First checkbox
    <input class="control__input" type="checkbox" checked="checked"/>
    <div class="control__indicator"></div>
  </label>
  <label class="control control--checkbox">Second checkbox
    <input class="control__input" type="checkbox"/>
    <div class="control__indicator"></div>
  </label>
  <label class="control control--checkbox">Disabled
    <input class="control__input" type="checkbox" disabled="disabled"/>
    <div class="control__indicator"></div>
  </label>
  <label class="control control--checkbox">Disabled & checked
    <input class="control__input" type="checkbox" disabled="disabled" checked="checked"/>
    <div class="control__indicator"></div>
  </label>