.values {
 &--line{
  background-image: url('../img/icons/line-1.svg');
  background-repeat: no-repeat;
  background-position: top left;
  background-size: 80% auto;
  padding-top: 15rem;
 }
 &__heading {
  margin-bottom: 6rem;
 }

}

.values-list {
 width: 100%;

 @include rmin($r-md){
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
 }

 &__item {
  display: flex;
  @include rmin($r-md){
   width: 47%;
  }
  &:not(:last-child) {
   margin-bottom: 6rem;
  }
  &:nth-child(odd){
   margin-right: 7rem;
  }
 }

 &__box {
  margin-right: 3rem;
 }

 &__title {
  @include font-size(2, 2.4);
 @include mon-semi;
  margin-bottom: 2rem;
  font-weight: 500;
 }

 &__text{
 @include font-size(1.2, 1.4);
 }
}


