// Colors
$t_main: #FFFFFF;
$t_second: #141414;
$accent: #FF6600;
$dark-bg: #141414;
$gray-bg:#E0E0E0;
$light-bg:#F2F2F2;

//Media quieries breakpoints
$r-sm: 576;
$r-md: 768;
$r-lg: 992;
$r-xl: 1200;

// Font-Families
$gogh-medium:"Gogh-Medium";
$gogh-bold:"Gogh-Bold";
$gogh-regular:"Gogh-Regular";
$gilroy-semi:"Gilroy-Semibold";
$mon-regular:"Montserrat-Regular";
$mon-medium:"Montserrat-Medium";
$mon-bold:"Montserrat-Bold";
$gilroy-medium:"Gilroy-Medium";
$lato-medium:"Lato-Regular";
$lato-black: "Lato-Black";
$lato-semi:"Lato-Bold";