<div class="hero">
 <!-- style="background-image:linear-gradient(to bottom, rgba(35, 34, 37, 0.7), rgba(35, 34, 37, 0.7)), url('img/home/hero-bg.webp');" -->
 <div class="hero__bg"  style="background-image: url('img/hero.jpg');"></div>
 <div class="container container--big">

  <div class="swiper mySwiper hero__swiper">

   <div class="hero__swiper-btns">
    <div class="swiper-button-prev hero__swiper-btn">
     @@include('../bem-blocks/_sprite.html',{
     'class': "hero__swiper-btn",
     'id': "sprite--arrow-left"
     })
    </div>
    <div class="swiper-button-next hero__swiper-btn">
     @@include('../bem-blocks/_sprite.html',{
     'class': "hero__swiper-btn",
     'id': "sprite--arrow-right"
     })
    </div>
   </div>



   <div class="swiper-wrapper">
    <div class="swiper-slide hero__slide">

     <div class="hero__swiper-content">
      <h1 class="hero__title title">Хедж-фонд</h1>
      <p class="hero__description">
       Классический выбор профессиональных инвесторов с заданными умеренными параметрами риска. Основан на
       инвестировании в бумаги индекса S&P 500 с диверсификацией по 11 секторам экономики.
      </p>
      <a href="" class="hero__link btn">Подробнее</a>
     </div>

    </div>


    <div class="swiper-slide hero__slide">

     <div class="hero__swiper-content">
      <h1 class="hero__title title">Крипто фонд</h1>
      <p class="hero__description">
       Предоставляет клиентам легальные возможности для инвестирования
       в криптовалюту и
       связанные с ней продукты.
      </p>
      <a href="" class="hero__link btn">Подробнее</a>
     </div>

    </div>



    <div class="swiper-slide hero__slide">

     <div class="hero__swiper-content">
      <h1 class="hero__title title">Венчурный фонд</h1>
      <p class="hero__description">
       Инвестиции в компании и проекты (стартапы),
       в том числе в компании на этапе Pre-IPO. Подходит
       для инвесторов, желающих получить более высокий доход при повышенной степени риска
      </p>
      <a href="" class="hero__link btn">Подробнее</a>
     </div>

    </div>


    <div class="swiper-slide hero__slide">

     <div class="hero__swiper-content">
      <h1 class="hero__title title">Хедж-фонд</h1>
      <p class="hero__description">
       Классический выбор профессиональных инвесторов с заданными умеренными параметрами риска. Основан на
       инвестировании в бумаги индекса S&P 500 с диверсификацией по 11 секторам экономики.
      </p>
      <a href="" class="hero__link btn">Подробнее</a>
     </div>

    </div>



   </div>
   <div class="swiper-pagination"></div>

  </div>

 </div>
</div>