<section class="section blog-section">
 <div class="container">
  <h1 class="title blog-section__title">Блог</h1>

  <!-- <div class="blog-section__top">
   <h2 class="blog-section__heading">Популярные секции</h2>
   <div class="blog-section__btns">
    <button class="blog-section__btn" data-tab-target="all">Все</button>
    <button class="blog-section__btn active" data-tab-target="management">Менеджемент</button>
    <button class="blog-section__btn" data-tab-target="investitions">Инвестиции в кризис</button>
    <button class="blog-section__btn" data-tab-target="crm">CRM</button>
    <button class="blog-section__btn" data-tab-target="seo">SEO</button>
   </div>
  </div> -->

  <ul class="blog-section__categories">

   <li class="blog-section__content blog-post" data-tab-content="seo">
    <div class="blog-post__box">
     <img src="img/blog/posts/1.webp" alt="Минфин предложил единый налоговый вычет" class="blog-post__img">
    </div>
    <div class="blog-post__content">
     <strong class="blog-post__cat">Менеджемент</strong>
     <h3 class="blog-post__title">Минфин предложил единый налоговый вычет</h3>
     <p class="blog-post__author-date">
      <span class="blog-post__author">Арман Арманов</span>,<span class="blog-post__date"> Октябрь 13, 2022</span>
     </p>
     <p class="blog-post__text">
      Минфин разработал новый формат индивидуальных инвестиционных счетов (ИИС-III) — его включат в систему единого
      налогового вычета наряду с пенсионными и страховыми инвестициями. С 2024 года ИИС-III полностью заменит ИИС-I,
      запущенный в 2015 году. Новый инвестсчет будет неинтересен для инвесторов в предложенной конфигурации, считают в
      НАУФОР
     </p>
     <a href="blog-single.html" class="blog-post__link">Подробнее</a>
    </div>
   </li>

   <li class="blog-section__content blog-post active" data-tab-content="management">
    <div class="blog-post__box">
     <img src="img/blog/posts/1.webp" alt="Минфин предложил единый налоговый вычет" class="blog-post__img">
    </div>
    <div class="blog-post__content">
     <strong class="blog-post__cat">Менеджемент</strong>
     <h3 class="blog-post__title">Минфин предложил единый  налоговый вычет</h3>
     <p class="blog-post__author-date">
      <span class="blog-post__author">Арман Арманов</span>,<span class="blog-post__date"> Октябрь 13, 2022</span>
     </p>
     <p class="blog-post__text">
      Минфин разработал новый формат индивидуальных инвестиционных счетов (ИИС-III) — его включат в систему единого
      налогового вычета наряду с пенсионными и страховыми инвестициями. С 2024 года ИИС-III полностью заменит ИИС-I,
      запущенный в 2015 году. Новый инвестсчет будет неинтересен для инвесторов в предложенной конфигурации, считают в
      НАУФОР
     </p>
     <a href="blog-single.html" class="blog-post__link">Подробнее</a>
    </div>
   </li>

   <li class="blog-section__content blog-post active" data-tab-content="management">
    <div class="blog-post__box">
     <img src="img/blog/posts/2.webp" alt="Рэй Далио перестал считать наличные «мусором»" class="blog-post__img">
    </div>
    <div class="blog-post__content">
     <strong class="blog-post__cat">Менеджемент</strong>
     <h3 class="blog-post__title">Рэй Далио перестал считать наличные «мусором»</h3>
     <p class="blog-post__author-date">
      <span class="blog-post__author">Арман Арманов</span>,<span class="blog-post__date"> Октябрь 13, 2022</span>
     </p>
     <p class="blog-post__text">
      Минфин разработал новый формат индивидуальных инвестиционных счетов (ИИС-III) — его включат в систему единого
      налогового вычета наряду с пенсионными и страховыми инвестициями. С 2024 года ИИС-III полностью заменит ИИС-I,
      запущенный в 2015 году. Новый инвестсчет будет неинтересен для инвесторов в предложенной конфигурации, считают в
      НАУФОР
     </p>
     <a href="blog-single.html" class="blog-post__link">Подробнее</a>
    </div>
   </li>

   <li class="blog-section__content blog-post active" data-tab-content="management">
    <div class="blog-post__box">
     <img src="img/blog/posts/3.webp" alt="Инвестиции в 5G – необходимое условие экономического развития"
      class="blog-post__img">
    </div>
    <div class="blog-post__content">
     <strong class="blog-post__cat">Менеджемент</strong>
     <h3 class="blog-post__title">Инвестиции в 5G – необходимое <br/> условие экономического развития</h3>
     <p class="blog-post__author-date">
      <span class="blog-post__author">Арман Арманов</span>,<span class="blog-post__date"> Октябрь 13, 2022</span>
     </p>
     <p class="blog-post__text">
      Минфин разработал новый формат индивидуальных инвестиционных счетов (ИИС-III) — его включат в систему единого
      налогового вычета наряду с пенсионными и страховыми инвестициями. С 2024 года ИИС-III полностью заменит ИИС-I,
      запущенный в 2015 году. Новый инвестсчет будет неинтересен для инвесторов в предложенной конфигурации, считают в
      НАУФОР
     </p>
     <a href="blog-single.html" class="blog-post__link">Подробнее</a>
    </div>
   </li>

   <li class="blog-section__content blog-post " data-tab-content="investitions">
    <div class="blog-post__box">
     <img src="img/blog/posts/3.webp" alt="Инвестиции в 5G – необходимое условие экономического развития"
      class="blog-post__img">
    </div>
    <div class="blog-post__content">
     <strong class="blog-post__cat">Менеджемент</strong>
     <h3 class="blog-post__title">Инвестиции в 5G – необходимое <br/> условие экономического развития</h3>
     <p class="blog-post__author-date">
      <span class="blog-post__author">Арман Арманов</span>,<span class="blog-post__date"> Октябрь 13, 2022</span>
     </p>
     <p class="blog-post__text">
      Минфин разработал новый формат индивидуальных инвестиционных счетов (ИИС-III) — его включат в систему единого
      налогового вычета наряду с пенсионными и страховыми инвестициями. С 2024 года ИИС-III полностью заменит ИИС-I,
      запущенный в 2015 году. Новый инвестсчет будет неинтересен для инвесторов в предложенной конфигурации, считают в
      НАУФОР
     </p>
     <a href="blog-single.html" class="blog-post__link">Подробнее</a>
    </div>
   </li>

   <li class="blog-section__content blog-post" data-tab-content="crm">
    <div class="blog-post__box">
     <img src="img/blog/posts/2.webp" alt="Рэй Далио перестал считать наличные «мусором»" class="blog-post__img">
    </div>
    <div class="blog-post__content">
     <strong class="blog-post__cat">Менеджемент</strong>
     <h3 class="blog-post__title">Рэй Далио перестал считать наличные «мусором»</h3>
     <p class="blog-post__author-date">
      <span class="blog-post__author">Арман Арманов</span>,<span class="blog-post__date"> Октябрь 13, 2022</span>
     </p>
     <p class="blog-post__text">
      Минфин разработал новый формат индивидуальных инвестиционных счетов (ИИС-III) — его включат в систему единого
      налогового вычета наряду с пенсионными и страховыми инвестициями. С 2024 года ИИС-III полностью заменит ИИС-I,
      запущенный в 2015 году. Новый инвестсчет будет неинтересен для инвесторов в предложенной конфигурации, считают в
      НАУФОР
     </p>
     <a href="blog-single.html" class="blog-post__link">Подробнее</a>
    </div>
   </li>

   <li class="blog-section__content blog-post" data-tab-content="seo">
    <div class="blog-post__box">
     <img src="img/blog/posts/1.webp" alt="Минфин предложил единый налоговый вычет" class="blog-post__img">
    </div>
    <div class="blog-post__content">
     <strong class="blog-post__cat">Менеджемент</strong>
     <h3 class="blog-post__title">Минфин предложил единый <br/> налоговый вычет</h3>
     <p class="blog-post__author-date">
      <span class="blog-post__author">Арман Арманов</span>,<span class="blog-post__date"> Октябрь 13, 2022</span>
     </p>
     <p class="blog-post__text">
      Минфин разработал новый формат индивидуальных инвестиционных счетов (ИИС-III) — его включат в систему единого
      налогового вычета наряду с пенсионными и страховыми инвестициями. С 2024 года ИИС-III полностью заменит ИИС-I,
      запущенный в 2015 году. Новый инвестсчет будет неинтересен для инвесторов в предложенной конфигурации, считают в
      НАУФОР
     </p>
     <a href="blog-single.html" class="blog-post__link">Подробнее</a>
    </div>
   </li>
  </ul>

  @@include('../chunks/_1.pagination.html')



 </div>
</section>