<section class="blog-home @@modif" id="blog">
 <div class="container">

  <h1 class="blog-home__title title title--after">Блог компании</h1>


  <div class="blog-home__swiper-btn-prev ">
   @@include('../bem-blocks/_sprite.html',{
   'class': "blog-home__swiper-btn",
   'id': "sprite--arrow-left"
   })
  </div>
  <div class="blog-home__swiper-btn-next">
   @@include('../bem-blocks/_sprite.html',{
   'class': "blog-home__swiper-btn",
   'id': "sprite--arrow-right"
   })
  </div>
  <div class="blog-home__inner swiper blog-home__swiper">

  <ul class="blog-home__posts swiper-wrapper">
 
   <li class="swiper-slide blog-post">
    <div class="blog-post__box">
     <img src="img/blog/posts/2.webp" alt="Рэй Далио перестал считать наличные «мусором»" class="blog-post__img">
    </div>
    <div class="blog-post__content">
     <h3 class="blog-post__title">Рэй Далио перестал считать наличные «мусором»</h3>
     <a href="blog-single.html" class="blog-post__link">Подробнее</a>
    </div>
   </li>
 
   <li class="swiper-slide blog-post">
    <div class="blog-post__box">
     <img src="img/blog/posts/3.webp" alt="Инвестиции в 5G – необходимое условие экономического развития"
      class="blog-post__img">
    </div>
    <div class="blog-post__content">
     <h3 class="blog-post__title">Инвестиции в 5G – необходимое <br> условие экономического развития</h3>
     <a href="blog-single.html" class="blog-post__link">Подробнее</a>
    </div>
   </li>
 
 
   <li class="swiper-slide blog-post">
    <div class="blog-post__box">
     <img src="img/blog/posts/3.webp" alt="Инвестиции в 5G – необходимое условие экономического развития"
      class="blog-post__img">
    </div>
    <div class="blog-post__content">
     <h3 class="blog-post__title">Инвестиции в 5G – необходимое <br> условие экономического развития</h3>
     <a href="blog-single.html" class="blog-post__link">Подробнее</a>
    </div>
   </li>
 
   <li class="swiper-slide blog-post">
    <div class="blog-post__box">
     <img src="img/blog/posts/2.webp" alt="Рэй Далио перестал считать наличные «мусором»" class="blog-post__img">
    </div>
    <div class="blog-post__content">
     <h3 class="blog-post__title">Рэй Далио перестал считать наличные «мусором»</h3>
     <a href="blog-single.html" class="blog-post__link">Подробнее</a>
    </div>
   </li>
 
   <li class="swiper-slide blog-post">
    <div class="blog-post__box">
     <img src="img/blog/posts/3.webp" alt="Инвестиции в 5G – необходимое условие экономического развития"
      class="blog-post__img">
    </div>
    <div class="blog-post__content">
     <h3 class="blog-post__title">Инвестиции в 5G – необходимое <br> условие экономического развития</h3>
     <a href="blog-single.html" class="blog-post__link">Подробнее</a>
    </div>
   </li>
 
 
   <li class="swiper-slide blog-post">
    <div class="blog-post__box">
     <img src="img/blog/posts/3.webp" alt="Инвестиции в 5G – необходимое условие экономического развития"
      class="blog-post__img">
    </div>
    <div class="blog-post__content">
     <h3 class="blog-post__title">Инвестиции в 5G – необходимое <br> условие экономического развития</h3>
     <a href="blog-single.html" class="blog-post__link">Подробнее</a>
    </div>
   </li>
 
  </ul>

</div>
@@include('../chunks/_1.pagination.html')
 </div>
</section>