<section class="subscribe @@modif">
 <div class="container">

 <form action="" class="subscribe__form">
  <input class="subscribe__input" type="text" placeholder="Имя Фамилия">
  <!-- <input class="subscribe__input" type="text" placeholder="Имя">
  <input class="subscribe__input" type="text" placeholder="Отчество"> -->
  <div class="subscribe__flex">
   <input class="subscribe__input subscribe__input--half" type="email" placeholder="Ваш email">
   <input class="subscribe__input subscribe__input--half" type="number" placeholder="Телефон">
  </div>
  <textarea  class="subscribe__input subscribe__input--textarea" placeholder="Текст обращения"></textarea>
  <button class="subscribe__submit btn " type="submit">Получить консультацию</button>
</form>

 </div>
</section>