<section class="section about-block @@section--modif" id="about">
 <div class="container">
  <div class="about-block__content">
   <h1 class="about-block__title title title--after">О нас</h1>
   <div class="about-block__inner">
    <div class="about-block__box">
     <img src="img/about/about-block.webp" alt="" class="about-block__img">
    </div>
    <div class="about-block__text">
     <p>Наша Команда успешно осуществляет деятельность на нескольких рынках инвестиций. Богатство выбора инструментов этих рынков позволяет Нам успешно сохранять и преумножать капитал клиентов. </p>
     <p>Вступить в партнерство с Fonte могут как профессиональные инвестора, так и частные лица, только начинающие открывать для себя новые перспективы. Наша юрисдикция - Международный финансовый центр «Астана» (МФЦА). Комфортные налоговые условия и регуляторные политики обеспечивают необходимые свободы и преимущества для достижения целей инвестиций. </p>
     <p>В партнерстве с Fonte Capital LTD, инвесторы имеют возможность воспользоваться не только проверенными стратегиями, но и смогут совместно разработать персональные инвестиционные решения.</p>
    </div>
   </div>
  </div>
 </div>
</section>