<section class="section values @@modif">
 <div class="container">
  <div class="values__content">
   <h2 class="values__heading heading title--after">Наши ценности</h2>
   <ul class="values__list values-list">
    <li class="values-list__item">
     <div class="values-list__box">
      <img src="img/icons/values/1.svg" alt="" class="values-list__img">
     </div>
     <div class="values-list__wrap">
      <h3 class="values-list__title">Стабильность</h3>
      <p class="values-list__text">Сохранность капитала клиентов приоритетнее
       доходности - каждое решение взвешено, обдумано и
       оценено.</p>
     </div>
    </li>
    <li class="values-list__item">
     <div class="values-list__box">
      <img src="img/icons/values/2.svg" alt="" class="values-list__img">
     </div>
     <div class="values-list__wrap">
      <h3 class="values-list__title">Устойчивость</h3>
      <p class="values-list__text">
       Устойчивое развитие — основа нашей бизнес-модели. Начиная с поиска и оценки
       предоставившихся возможностей для бизнеса до последовательного развития
       наших проектов и реаллокации капитала в новые возможности.</p>
     </div>
    </li>
    <li class="values-list__item">
     <div class="values-list__box">
      <img src="img/icons/values/3.svg" alt="" class="values-list__img">
     </div>
     <div class="values-list__wrap">
      <h3 class="values-list__title">Команда</h3>
      <p class="values-list__text">Команда Fonte Capital LTD – основа успеха. Каждый сотрудник Компании – это ценный
       актив в рабочем процессе фонда. Наша цель – создание такой рабочей атмосферы и условий, которые позволят
       максимально раскрыть потенциал каждого сотрудника для достижения максимального результата.</p>
     </div>
    </li>
    <li class="values-list__item">
     <div class="values-list__box">
      <img src="img/icons/values/4.svg" alt="" class="values-list__img">
     </div>
     <div class="values-list__wrap">
      <h3 class="values-list__title">Репутация</h3>
      <p class="values-list__text">Ответственность и этика – основа нашей деятельности. Деятельность в рамках лучших
       практик (Корпоративный Кодекс этики и стандарты профессионального поведения) позволяет предлагать клиентам более
       качественные инвестиционные продукты, отвечающие высоким требованиям и ожиданиям самых требовательных клиентов.
      </p>
     </div>
    </li>
   </ul>
  </div>

 </div>
</section>