<section class="section our-team @@section--modif" id="team">
 <div class="container">
  <h1 class="our-team__title title title--after">Наша команда</h1>
  <p class="our-team__description">
   Команда Fonte Capital LTD – основа успеха. Каждый сотрудник Компании – это ценный актив в рабочем процессе фонда. Наша цель – создание такой <br/> рабочей атмосферы и условий, которые позволят максимально раскрыть потенциал каждого сотрудника для достижения максимального результата.
  </p>
  <ul class="our-team__list team-list">
   <li class="team-list__item">
    <div class="team-list__box">
     <img src="img/team/1.webp" alt="" class="team-list__img">
    </div>
    <h3 class="team-list__heading">Ержан Мусин</h3>
    <p class="team-list__subheading">CEO</p>
   </li>

   <li class="team-list__item">
    <div class="team-list__box">
     <img src="img/team/2.webp" alt="" class="team-list__img">
    </div>
    <h3 class="team-list__heading">Олжас Укенов</h3>
    <p class="team-list__subheading">CFO</p>
   </li>

   <li class="team-list__item">
    <div class="team-list__box">
     <img src="img/team/1.webp" alt="" class="team-list__img">
    </div>
    <h3 class="team-list__heading">Серик Досаев</h3>
    <p class="team-list__subheading">COO</p>
   </li>

   <li class="team-list__item">
    <div class="team-list__box">
     <img src="img/team/2.webp" alt="" class="team-list__img">
    </div>
    <h3 class="team-list__heading">Акежан Аманкелды</h3>
    <p class="team-list__subheading">CIO</p>
   </li>

   <li class="team-list__item">
    <div class="team-list__box">
     <img src="img/team/1.webp" alt="" class="team-list__img">
    </div>
    <h3 class="team-list__heading">Ержан Мусин</h3>
    <p class="team-list__subheading">CEO</p>
   </li>

   <li class="team-list__item">
    <div class="team-list__box">
     <img src="img/team/2.webp" alt="" class="team-list__img">
    </div>
    <h3 class="team-list__heading">Олжас Укенов</h3>
    <p class="team-list__subheading">CFO</p>
   </li>
  </ul>

  <div class="our-partners">
   <h2 class="our-partners__title heading title--after">Сторонники и Партнеры</h2>

   <ul class="our-partners__list">
    <li class="our-partners__item">
     <a href="" class="our-partners__link">
      SeedBox
     </a>
    </li>
    <li class="our-partners__item">
     <a href="" class="our-partners__link">
      Freedom Finance
     </a>
    </li>
   </ul>
  </div>
 </div>
</section>